<!-- Loop over each object in the events array - currently showing the projects array from mini-project - need to change to reflect what we want-->
<h2>Check out these upcoming Richmond Art Events!</h2>
{{!-- maybe make these cards? --}}
{{#each events as |event| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/event/{{event.id}}">{{event.title}}</a>
    </h2>
    <h3>
      Date: {{format_date event.date}}
      Time: {{event.time}}
      Venue: {{event.locationName}}
      Address: {{event.locationAddress}}
    </h3>
  </div>
  <div class="col-md-7">
    <p>
      {{event.description}}
    </p>
    <p>Special thanks to {{event.user.username}} for adding this event!</p>
  </div>
</div>
{{/each}}
