{{!-- Loop over each object in the events array - --}}
<h2>Check out these upcoming Richmond Art Events!</h2>
{{!-- maybe make these cards? - seth working on something--}}
{{#each events as |event| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/event/{{events.id}}">{{events.title}}</a>
    </h2>
    <h3>
      Date: {{format_date events.date}}
      Time: {{events.time}}
      Venue: {{events.locationName}}
      Address: {{events.locationAddress}}
    </h3>
  </div>
  <div class="col-md-7">
    <p>
      {{events.description}}
    </p>
    <p>Special thanks to {{events.user.username}} for adding this event!</p>
  </div>
</div>
{{/each}}
