{{!-- We need to change this below to actually show the user's information --}}
<div class="row">
  <div class="col-auto">
    <div class="row"> <img src="./images/Untitled.png" class="logo"> </div>
<h2>Welcome {{req.session.username}},</h2>
<h2>Check out these upcoming Richmond Art Events!</h2>


{{#each events as |event| }}
<div class="container">
  
  <div class="card-media">
    <!-- media container -->
    <div class="card-media-object-container">
      <div class="card-media-object" style="background-image: url({{event.img}});"></div>

    </div>
    <!-- body container -->
    <div class="card-media-body">
      <div class="card-media-body-top">
        <span class="subtle">Date: {{format_date event.date}}<br>{{event.time}}</span>
        <div class="card-media-body-top-icons u-float-right">

          {{!-- Below is the save button, with the added class "saveEvent" --}}
          <div class="save-btn" data-id="{{event.id}}">
          <svg class="saveEvent" fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
          </div>
          {{!-- Above is the save button, with the added class "saveEvent" --}}

        </div>
      </div>
      <span class="card-media-body-heading">{{event.title}}</span>
      <div class="card-media-body-supporting-bottom">
        <span class="card-media-body-supporting-bottom-text subtle">{{event.locationName}}</span>
        <span class="card-media-body-supporting-bottom-text subtle u-float-right">{{event.locationAddress}}</span>
      </div>
      <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
        <span class="card-media-body-supporting-bottom-text subtle"></span>
        <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">{{event.description}}</a>
      </div>
    </div>
  </div>
  {{/each}}


    <script src= "./js/saveEvent.js"></script>
